header {
  text-align: left;
  opacity: 0;
}

.head-message { 
  text 
}

#main-img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  margin-right: 20px;
  border: 6px solid #334234;
  border-radius: 6px;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  background-color: #f5f5f5;
}

body {
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Vernpm dana, sans-serif;
  background-color: #fff;
}
main {
  background-color: #fff;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.head-card {
  display: flex;
  margin: 8px;
  justify-content: center;
  padding: 8px;
}
.head-desc {
  margin-left: 4px;
  color: #334234;
}

footer {
  background: whitesmoke;
  padding: 20px;
  margin: 0px;
}
