header {
  text-align: left;
  opacity: 0;
}

#main-img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  margin-right: 20px;
  border: 6px solid #334234;
  border-radius: 6px;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;
  background: rgba(231, 229, 223, 0.61);
  border-radius: 99px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
  border: 2px solid rgba(231, 229, 223, 1);
  max-width: 1000px;
}

a {
  color: #334234;
  text-decoration: none;
}

body {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Vernpm dana, sans-serif;
  background-color: #e7e5df;
}

main {
  text-align: left;
  margin-top: 50px;
  padding-right: 425px;
  padding-left: 425px;
}

.head-card {
  display: flex;
  margin: 8px;
  justify-content: center;
  padding: 8px;
}
.head-desc {
  margin-top: 0px;
  margin-left: 4px;
  color: #334234;
}

button {
  background-color: #7a82ab;
  border: solid 1px #334234;
  border-radius: 999999px;
}

footer {
  min-height: 100px;
  height: auto;
  width: 100%;
}
